<div class="contact-page">
    <div class="container-contact">
        <span class="big-circle"></span>
        <img src="img/shape.png" class="square" alt="gggg" />
        <div class="form">
          <div class="contact-info">
            <h3 class="title">Let's get in touch</h3>
            <p class="text">
              Ready to embark on your trading journey? Feel free to reach out to us using the contact information below. We look forward to hearing from you.
            </p>
      
            <div class="info">
              <div class="information">
                <mat-icon>location_on</mat-icon>
                <p class="noMargin">92 Cherry Drive Uniondale, NY 11553</p>
              </div>
              <div class="information">
                <mat-icon>email</mat-icon>
                <p class="noMargin">loremipsum.com</p>
              </div>
              <div class="information">
                <mat-icon>phone</mat-icon>
                <p class="noMargin">123-456-789</p>
              </div>
            </div>
      
            <div class="social-media">
              <p>Connect with us :</p>
              <div class="social-icons">
                <a href="#"><mat-icon>email</mat-icon></a>
                <a href="#"><mat-icon>phone</mat-icon></a>
                <a href="#"><mat-icon>linkedin</mat-icon></a>
              </div>
            </div>
          </div>
      
          <div class="contact-form">
            <span class="circle one"></span>
            <span class="circle two"></span>
      <div class="contact-img">
        
            <img src="../../../assets/shaktiPic.jpg" alt="" width="70%">
        
      </div>
          </div>
        </div>
      </div>
</div>

  