<app-header></app-header>
<div class="about-page">
  <div class="about-landing">HELLO, TRADER</div>
</div>
<div class="sec1">
  <div class="responsive-container-block bigContainer"  style="background-color: rgb(51, 51, 51);;">
    <div class="responsive-container-block Container">
      <div class="responsive-container-block leftSide">
        <p class="text-blk heading">Innovators in Trading Excellence</p>
        <p class="text-blk subHeading">
          We are founded in 2018 by an IITian, a self-developed successful
          trader. We grew up with a core team of IITians having deep experience
          in software development and data analytics. We are focused on
          consistent growth of funds through trading index and stock futures in
          Indian market and thus provide liquidity to the market. While our
          proprietary trading business thrives, we put our experience and
          expertise to train traders and analysts for stock market.
        </p>
      </div>
      <div class="responsive-container-block rightSide">
        <img
          class="number1img"
          src="../../../assets/laptop.jpg"
        />
        <img
          class="number2img"
          src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d14.png"
        />
        <img
          class="number3img"
          src="../../../assets/rupee.avif"
        />
        <img
          class="number5img"
          src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Customer supports.png"
        />
        <!-- <iframe
          allowfullscreen="allowfullscreen"
          class="number4vid"
          poster="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b242.png"
          src="https://www.youtube.com/embed/svg%3E?"
        >
        </iframe> -->
        <img
        class="number4vid"
          src="../../../assets/graph3.avif"
        />
        <img
          class="number7img"
          src="../../../assets/money.avif"
        />
        <img
          class="number6img"
          src="../../../assets/graph2.jpeg"
        />
      </div>
    </div>
  </div>
</div>
<!-- sec 2 -->
<div class="sec2">
<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="imgContainer">
        <img class="blueDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/aw3.svg">
        <img class="mainImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/aw2.svg">
      </div>
      <div class="responsive-container-block textSide">
        <p class="text-blk heading">
            MATHIFYING MARKETS
        </p>
        
        <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
          <div class="cardImgContainer">
            <img class="cardImg" src="../../../assets/pen1.avif">
          </div>
          <div class="cardText">
            <p class="text-blk cardHeading">
                Trading – A challenging Endeavor
            </p>
            <p class="text-blk cardSubHeading">
                Analysis of the day trading of hundreds of thousands of investors over a seventeen-year period showed that 60% of day traders left after only one month, ending up quitted, after a period of 3 years only 13% survive, after a period of 5 years only 7% continue and in future only 1.6% of them were able to earn more than brokerage fee. Data speaks itself about the challenges we face on daily basis to produce consistent results in uncertain stock market environment. We dedicate our success to our right focus, right method and right psychological process.
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
          <div class="cardImgContainer">
            <img class="cardImg" src="../../../assets/pen2.avif">
          </div>
          <div class="cardText">
            <p class="text-blk cardHeading">
                Responsible Risk Management
            </p>
            <p class="text-blk cardSubHeading">
                At Cognisense we are highly focused on containing risk. We believe that containing risks is our job and returns are rewarded by market itself. Our risk-management capabilities are the only reason behind our confidence. We also understand that rewards are proportional to risk, this is where our expertise of mathifying plays an important role to churn out consistency in an uncertain environment.
            </p>
          </div>
        </div>
        
       
        <a href="/contact">
          <button class="explore small" style="margin-top: 30px;">
           Contact Us
          </button>
        </a>
      </div>
      <img class="redDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg">
    </div>
  </div>
</div>
<!--  sec 3 -->
<div class="sec3">
<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container bottomContainer">
      <div class="ultimateImg">
        <img class="mainImg" src="../../../assets/funding.avif">
        <div class="purpleBox">
          <p class="purpleText">
            <img src="../../../assets/shaktiPic.jpg" alt="" width="100px" height="100px" style="border-radius: 50%; object-fit: cover; "> <span style="font-size: 24px;font-weight: 600; margin-left: 20px;">Shakti Singh</span> <br>
           <span style="font-size: 16px; font-weight: 500;">Founder & Partner</span> <br>
          <span style="font-size: 14px;">IIT-BHU Engg. Grad. | 9 yrs Engineering Management at Hindustan Aeronautics Ltd. | 7+ years Trading Strategy Development & Futures Trading</span>  
         
          </p>
        
        </div>
      </div>
      <div class="allText bottomText">
        <p class="text-blk headingText">
           What we do 
        </p>
        <p class="text-blk subHeadingText">
           <span style="font-size: 36px;">W</span>e have worked majorly on Nifty50 index futures.
        </p>
        <p class="text-blk description">
           
            Developed various algos and deployed them in a real time scenario for growth of our fund. We have grown our funds more than eight times in last seven years and during same period Nifty50 benchmark has grown approx twice.
            
        </p>
       
        <a class="explore">
            <ul> 
                <li>Our growth : 739.45%</li>
                <li>CAGR : 739.45%</li>
                <li>NIFTY growth : 103.4%</li>
            </ul>
        </a>
      </div>
    </div>
  </div>
</div>
 <app-testimonials></app-testimonials> 