<p>article-content works!</p>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea impedit consequuntur necessitatibus aliquam eligendi nemo. Expedita dolores perferendis nemo illo officia, totam officiis ullam adipisci eius dignissimos omnis pariatur, laborum laudantium nostrum? Aliquid debitis eveniet a eaque ducimus deleniti numquam tenetur natus non. Nesciunt porro libero non consequuntur totam. Sed itaque non distinctio deserunt aperiam. Voluptas natus dignissimos accusantium corrupti. Veritatis dolorum sequi deleniti, molestiae dolores accusamus blanditiis hic. Et molestias voluptatibus modi vel accusantium fuga voluptates ipsam nulla ullam. Consequuntur, veritatis ab est numquam cum officia sed voluptates et, aperiam excepturi voluptas quam sequi magnam odio nulla vero molestias!
<div *ngIf="article">
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>
  </div>
  
  <div *ngIf="!article">
    <p>Article not found</p>
  </div>
