<div class="header-section">
  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="../../../assets/cognisense Main Logo.png"
          alt=""
          width="140px"
          height="40px"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav my-menu">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
        </div>
      </div>
    </div>
  </nav>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error repellendus
    vel at neque deserunt dolorem reprehenderit sint soluta ab laudantium vitae
    quas eaque delectus, architecto vero nesciunt iste perferendis, voluptas
    sunt optio amet quae! Temporibus quaerat, exercitationem aspernatur maiores
    voluptatibus qui quo harum ab, similique quidem dolore est quisquam a,
    laudantium mollitia animi nam quasi asperiores veniam maxime placeat nisi.
    Praesentium earum necessitatibus error nam dolores asperiores dolorum
    molestiae, rerum explicabo velit corporis cupiditate deserunt dicta possimus
    sit, laboriosam consectetur. Tempora facere repellendus modi optio pariatur
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error repellendus
    vel at neque deserunt dolorem reprehenderit sint soluta ab laudantium vitae
    quas eaque delectus, architecto vero nesciunt iste perferendis, voluptas
    sunt optio amet quae! Temporibus quaerat, exercitationem aspernatur maiores
    voluptatibus qui quo harum ab, similique quidem dolore est quisquam a,
    laudantium mollitia animi nam quasi asperiores veniam maxime placeat nisi.
    Praesentium earum necessitatibus error nam dolores asperiores dolorum
    molestiae, rerum explicabo velit corporis cupiditate deserunt dicta possimus
    sit, laboriosam consectetur. Tempora facere repellendus modi optio pariatur
    magnam similique, cum itaque! Officiis minus porro, perspiciatis quibusdam
    laboriosam animi atque cum ea magnam eaque minima debitis corporis sunt
    iusto recusandae obcaecati consectetur, maxime quisquam iure saepe magni
    tempora aliquam delectus perferendis. Totam aspernatur quo deleniti.
    Mollitia, corporis! Cum eaque asperiores magnam quos qui nihil, blanditiis
    quod a dolores placeat corrupti nulla accusantium quidem commodi quae
    eveniet corporis veniam perspiciatis? Fugiat fuga necessitatibus similique!
    Est distinctio error quae, minus veniam provident sequi impedit veritatis
    fuga repudiandae quibusdam molestias ipsum inventore quasi quis officia
    sapiente harum sit enim. Expedita temporibus ut commodi maxime saepe ullam
    consequuntur recusandae aliquid eius necessitatibus atque voluptatibus nisi
    quia blanditiis hic, enim dolore perspiciatis, eligendi autem accusamus
    natus. Aspernatur rem dolore, iusto odio magni ratione officia blanditiis,
    assumenda tempora libero incidunt modi animi at ut voluptate repellat minus.
    Laudantium, odio placeat quis, soluta adipisci consectetur quia voluptas,
    qui ex incidunt temporibus consequuntur magnam aliquid ab sunt libero error
    perferendis aspernatur tenetur voluptatum natus vero assumenda? Nostrum
    itaque quibusdam voluptatem magnam repudiandae perferendis molestias
    doloribus eos, illum accusantium id, culpa sed inventore! Consectetur
    expedita hic corporis eius sapiente, illo vitae facilis asperiores deleniti
    ipsa praesentium reiciendis repellendus veritatis sed, nesciunt odio eveniet
    vel ipsum. Consequuntur est atque repellendus debitis consequatur excepturi,
    vero vel ab alias, laborum eos quibusdam maiores aliquid soluta quidem
    commodi accusamus iure repudiandae voluptates ratione natus at beatae?
    Beatae minus aperiam delectus asperiores a dolores id soluta architecto
    consequatur vitae odio aliquid ducimus, mollitia ab, ad, totam consequuntur
    quae voluptates libero officia distinctio reprehenderit! Iste iusto sapiente
    reiciendis beatae, quidem rerum, saepe magni asperiores doloribus
    exercitationem recusandae autem. Iure reiciendis fugiat eaque est, inventore
    deserunt voluptates dolores vitae ullam aliquid commodi labore nam neque
    reprehenderit libero voluptatum nisi quo eos id suscipit quasi non vero
    ipsa. Quo reprehenderit fugit officia perspiciatis quidem possimus,
    dignissimos labore esse, asperiores provident tempore dolorem. Rerum
    reprehenderit aliquam itaque delectus adipisci ipsum dolor amet libero
    similique! Facere officiis ea delectus odio quasi velit, quisquam ad
    reiciendis, laboriosam quam necessitatibus sunt nulla doloremque! Vel
    necessitatibus distinctio quam neque animi eos at voluptatibus, fugiat
    commodi vitae, omnis dignissimos dolores sit eum voluptate accusamus
    aspernatur! Pariatur, dolor illo eveniet assumenda labore unde nihil laborum
    debitis totam? Exercitationem culpa quibusdam atque ab eius fugiat, voluptas
    reprehenderit officia ad nesciunt ea doloribus unde laudantium aperiam quod,
    corporis similique harum vero! Dolorum commodi ipsa fuga sed ipsam a
    perferendis eaque dicta, maiores vero omnis obcaecati in ea neque sit
    aperiam non, cumque veniam fugiat quasi tempora itaque? Ullam, perspiciatis!
    Laudantium voluptatum eius beatae voluptate voluptas assumenda nostrum
    eveniet possimus. Dignissimos, possimus. Nihil amet quae delectus. Natus,
    harum praesentium hic ut nihil itaque inventore voluptas distinctio nisi non
    nulla molestias atque! Veniam accusantium animi fuga blanditiis culpa ullam
    sed itaque, ad molestias eius! Quod quia quas enim cumque numquam illum
    repellendus! Quibusdam harum unde ad, quod veritatis modi id atque
    blanditiis facilis ipsa nisi fuga excepturi iste similique molestias.
    Quaerat nostrum repudiandae mollitia. Suscipit, atque deserunt. Veniam
    possimus vero est animi at incidunt sed sunt ratione iure consequatur modi
    sequi, reiciendis dolore cum quam deleniti. In ab, placeat ea fugit eius
    debitis aspernatur vel sed molestias corrupti numquam, et veniam cumque
    omnis eum? Voluptatum laborum quod corporis numquam reprehenderit totam,
    fugit voluptatem harum delectus, assumenda ducimus minima sint ratione
    excepturi? Delectus modi temporibus ex laborum, ullam aspernatur quae
    dignissimos accusamus eaque corporis quasi assumenda voluptatum dolorum
    architecto recusandae sunt placeat! Quis error molestias nam minima
    provident facilis. Reiciendis accusamus modi libero facilis ipsa maxime
    architecto ut voluptatum dolore repellendus consequatur aut eligendi ad
    numquam exercitationem doloremque adipisci, illo fuga totam hic. Rerum fugit
    odit doloremque, dolor obcaecati eos aliquam optio molestias, consequuntur,
    reiciendis alias nemo dolorem. Corrupti ullam quas quibusdam accusamus!
    Distinctio porro consectetur sed aliquam dolores iure fuga modi repudiandae
    numquam corrupti dicta debitis nesciunt vero tempora doloremque adipisci
    sint dolorum minus, veritatis explicabo cupiditate hic. Alias recusandae
    adipisci quia maiores autem beatae ea aspernatur, consequatur sequi,
    architecto esse? Aliquam dolores esse sequi nulla culpa voluptates eum nam,
    distinctio, iusto cum suscipit quis, odio rem sit aut quod! Vero fuga
    deleniti earum maxime illum, vel corporis molestias blanditiis itaque ullam
    rem. Cum saepe debitis labore nemo, eligendi quae illo, repudiandae eius
    blanditiis architecto rerum unde commodi aut beatae sit perspiciatis! Hic
    modi blanditiis nihil ipsum qui, enim animi voluptatum commodi non totam,
    aut autem sapiente reprehenderit cumque! Accusamus, voluptatem quam!
    Necessitatibus voluptate omnis ut possimus asperiores numquam dicta! Magnam
    cumque officia minus recusandae ex odit porro nostrum placeat, soluta
    officiis consequatur assumenda architecto quo natus harum animi commodi,
    autem maxime eius ducimus doloribus iusto libero asperiores nesciunt?
    Perspiciatis, itaque quaerat. Voluptatum harum consequuntur earum dolor,
    amet nihil fugit aliquid quasi, obcaecati officia laudantium repudiandae
    quas architecto quaerat. Nam iusto quos voluptatem officia optio
    perspiciatis tenetur in cum quod dolore architecto totam, facilis fugit,
    repellendus illum pariatur eligendi ab sapiente assumenda maiores ullam
    harum! Libero quod quibusdam, ad eius provident adipisci, quae numquam
    laboriosam nobis a odit sapiente iste, cumque ipsa beatae dolorem facilis
    ipsam? Impedit molestiae harum voluptatibus ipsum, hic id tempore voluptas
    quia veniam sint doloremque vel deleniti voluptatem quisquam. Reprehenderit
    fugiat perferendis autem, reiciendis nulla nostrum quibusdam amet eius esse
    mollitia tempore, animi dignissimos placeat! Reprehenderit deleniti
    sapiente, ipsa rerum pariatur, nihil culpa adipisci, modi mollitia
    necessitatibus consequatur atque eum quia voluptatum dolores quaerat! Ipsam
    nostrum possimus blanditiis inventore quisquam. Dicta perspiciatis pariatur
    nesciunt beatae odio ipsum eius aperiam optio doloremque architecto! Nam
    numquam, cum odit veritatis earum inventore quia sapiente optio libero at
    unde quidem! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum
    error, ab ducimus doloremque voluptates numquam! Atque, culpa quam. Quasi
    aperiam corporis cumque perspiciatis amet esse, cupiditate quas autem vel
    excepturi ea non minima odio adipisci ratione atque voluptatum. Provident
    harum expedita fugit perspiciatis, reiciendis excepturi vel, ad ducimus odit
    possimus officia, nam dicta odio? Suscipit tenetur omnis fuga distinctio
    ipsam porro adipisci eveniet quibusdam aliquid. Pariatur repudiandae ab
    dignissimos odit doloremque in enim nulla illo, magnam non obcaecati, est
    ipsa aspernatur quidem dolorum. Quo, pariatur debitis? Illo corporis tenetur
    delectus ut error. Velit temporibus porro eaque non corporis, dolores autem.
  </div>
</div>
