.header-section{
    background-color: linear-gradient(180deg,hsl(216, 100%, 6%) -40%,#00071500) !important;
    
    background: linear-gradient(180deg,hsl(216, 100%, 6%) -20%,#00071500) !important;
    .navbar {
        background-color: #00071500;
        background: #00071500
      }
      .my-menu .nav-link  {
        color:#fff !important;
     }
}
