@import "../../../styles.scss";
.header-section {
  
  .navbar {
    
    background: linear-gradient(180deg, #000 30%, rgba(0, 12, 31, 0.7) );
    // background: linear-gradient( 180deg, #000c1f 20%, #0007154d);

    height: 100px;
  }
  .my-menu .nav-link {
    color: #fff !important;
    cursor: pointer;
    margin-right: 8px;
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 36px;
    font-weight: 500;
  }
  .my-menu .nav-link:hover,
  .my-menu .nav-link:focus {
    background-color: rgb(51, 51, 51);
    color: #ffffff;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 36px;
  }
  .navbar-toggler-icon {
    color: #fff !important;
  }
  .navbar-toggler {
    border: none !important;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;

    background-color: #fff;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .navbar-brand img {
    animation: logoAnimation 2s 3;
  }
  
  
  @media (max-width: 991.98px) {
    .navbar-collapse.show {
      background-color: linear-gradient(
        180deg,
        hsl(216, 100%, 6%) -20%,
        #000715
      ) !important;
    }
    .navbar {
      height: auto !important;
    }
    .my-menu .nav-link {
      cursor: pointer !important;
    }
  }
}

@keyframes logoAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
