<div class="header-section">
  <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="../../../assets/cognisense Main Logo.png"
          alt=""
          width="auto"
          height="60px"
      /></a>
      <button
        id="navbar-toggler-btn"
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav my-menu">
          <a routerLink="/" routerLinkActive="active" class="nav-link active" aria-current="page"  (click)="scrollToTop()">Home</a>
          <a routerLink="/about"   class="nav-link"  (click)="scrollToTop()">About Us</a>
          <a routerLink="/articles"  class="nav-link"  (click)="scrollToTop()">Articles</a>
          <a routerLink="/contact"   class="nav-link"  (click)="scrollToTop()">Contact Us</a>
        </div>
      </div>
    </div>
  </nav>
 
</div>
<router-outlet></router-outlet>
