<div class="testimonial-slider">
    <div id="carouselExampleControls" class="carousel carousel-dark">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="testimonial-title">
             
              <h2 class="fw-bold ">What we do ?</h2>
              <h1 class="swiperHeading">Navigating Futures Markets with Precision and Purpose</h1>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="col-md-8">
            <div class="carousel-inner">
          
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="../../../assets/laptopgraph.avif" class="d-block w-100" alt="..."> </div>
                  <div class="card-body">
                    <h5 class="card-title">Our Equity Growth</h5>
                    <p class="card-text">We have worked majorly on Nifty50 index futures.We have grown our funds more than eight
                      times in last seven years and during same period Nifty50
                      benchmark has grown approx twice. We deploy high probability trades to
                      create short term positions in index and stock futures.
  </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="../../../assets/graph3.avif" class="d-block w-100" alt="..."> </div>
                  <div class="card-body">
                    <h5 class="card-title"> Creating certainty in uncertain Market
                    </h5>
                    <p class="card-text"> We are completely focused on creating consistent returns in
                      futures markets through risk optimization.We are completely focused on creating consistent returns in futures markets through risk optimization.We deploy high
                      probability trades to create short term positions in index
                      and stock futures.
  </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="../../../assets/maths.avif" class="d-block w-100" alt="..."> </div>
                  <div class="card-body">
                    <h5 class="card-title">Mathematicians. Engineers.
                      Traders.</h5>
                    <p class="card-text">We are core believer of
                      Mathemagic.
                      We use magic of mathematics to handle risk, sustain equity and produce consistent growth in futures market.Armed with formulas and algorithms, we unlock hidden patterns, decipher market movements, and orchestrate trades with precision, ensuring that each decision is guided by the mystical harmony of numbers.</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
