<div class="testimonial-slider">
    <div id="carouselExampleControls" class="carousel carousel-dark">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="testimonial-title">
             
              <h2 class="fw-bold ">What we do ?</h2>
              <h1 class="swiperHeading">Navigating Futures Markets with Precision and Purpose</h1>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="col-md-8">
            <div class="carousel-inner">
          
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="../../../assets/laptopgraph.avif" class="d-block w-100" alt="..."> </div>
                  <div class="card-body">
                    <h5 class="card-title">Our Equity Growth</h5>
                    <p class="card-text">We have worked majorly on Nifty50 index futures.We have grown our funds more than eight
                      times in last seven years and during same period Nifty50
                      benchmark has grown approx twice. We deploy high probability trades to
                      create short term positions in index and stock futures.
  </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="../../../assets/graph3.avif" class="d-block w-100" alt="..."> </div>
                  <div class="card-body">
                    <h5 class="card-title"> Creating certainty in uncertain Market
                    </h5>
                    <p class="card-text"> We are completely focused on creating consistent returns in
                      futures markets through risk optimization.We are completely focused on creating consistent returns in futures markets through risk optimization.We deploy high
                      probability trades to create short term positions in index
                      and stock futures.
  </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="../../../assets/maths.avif" class="d-block w-100" alt="..."> </div>
                  <div class="card-body">
                    <h5 class="card-title">Mathematicians. Engineers.
                      Traders.</h5>
                    <p class="card-text">We are core believer of
                      Mathemagic.
                      We use magic of mathematics to handle risk, sustain equity and produce consistent growth in futures market.Armed with formulas and algorithms, we unlock hidden patterns, decipher market movements, and orchestrate trades with precision, ensuring that each decision is guided by the mystical harmony of numbers.</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<div class="customer-testimonial">
  <h2>ClIENT TESTIMONIAL</h2>
  <div class="quote">
    <div>
      <img
        src="../../../assets/quote.png"
        alt=""
        style="background: transparent"
      />
    </div>
    <div>
      <img
        src="../../../assets/quotation.png"
        alt=""
        style="background: transparent"
      />
    </div>
  </div>

  <div class="testimonila-box">
   
    <nz-carousel [nzDotPosition]="'bottom'" [nzAutoPlay]="true"  [nzAutoPlaySpeed]="5000">
      <!-- Slide 1 -->
      <div nz-carousel-content>
        <div class="carousel-item">
          <div class="test-img">
            <img src="../../../assets/shilpi.jpeg" alt="" />
          </div>
          <div class="test-content">
            <h3>Shilpi Singh</h3>
            <h4>shilpisingh1182&#64;gmail.com</h4>
            <p>
              I can’t say enough good things about Cognisense. I started my
              training with Cognisense in 2020, and was trading by 2021.
              That was my first hands-on experience. Even though I don’t have
              any technical background, I was able to make it 40% of gain by the
              end of the fourth quarter. They recommended books for me on
              technical analysis which were very helpful, along with the strong
              Trader Psychology I developed with their guidance. The most
              important thing was making a strategy. Shakti himself helped me to
              create my strategy; my most useful asset thus far.
            </p>
          </div>
        </div>
      </div>

      <!-- Slide 2 (Add more slides if needed) -->
      <div nz-carousel-content>
        <div class="carousel-item">
          <div class="test-img">
            <img src="../../../assets/akash.jpeg" alt="" />
          </div>
          <div class="test-content">
            <h3>Akash Verma</h3>
            <h4>akashrajoria1&#64;gmail.com</h4>
            <p>
              I tried very hard for 6 months and lost all my hopes for trading.
              Then I joined learn then earn program &#64; cognisense. It changed
              my whole perception for trading. I understood that trading is not
              a lottery or easy money, its completely a different approach like
              other business where we access and manage risk, invest and reap
              benefits gradually.
            </p>
          </div>
        </div>
      </div>
      <div nz-carousel-content>
        <div class="carousel-item">
          <div class="test-img">
            <img src="../../../assets/akash.jpeg" alt="" />
          </div>
          <div class="test-content">
            <h3>Mridul</h3>
            <h4>mridul19821&#64;gmail.com</h4>
            <p>
              I was struggling for more than 2 yrs for generating positive
              returns from market. came in touch with Cognisense in 2019.
              Through their guidance program I got my strategy improved a lot
              and not only this, their guidance helped me devlop a trader
              attitude and I understood the importance of mental analysis
              through their course. And now since last two years I m able to
              generate consistently positive returns.
            </p>
          </div>
        </div>
      </div>
    </nz-carousel>
  </div>
</div>
