<div class="testimonial-slider">
    <div id="carouselExampleControls" class="carousel carousel-dark">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="testimonial-title">
             
              <h2 class="fw-bold ">What we do ?</h2>
              <h1 class="swiperHeading">Navigating Futures Markets with Precision and Purpose</h1>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="col-md-8">
            <div class="carousel-inner">
          
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="../../../assets/laptopgraph.avif" class="d-block w-100" alt="..."> </div>
                  <div class="card-body">
                    <h5 class="card-title">Our Equity Growth</h5>
                    <p class="card-text">We have worked majorly on Nifty50 index futures.We have grown our funds more than eight
                      times in last seven years and during same period Nifty50
                      benchmark has grown approx twice. We deploy high probability trades to
                      create short term positions in index and stock futures.
  </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="../../../assets/graph3.avif" class="d-block w-100" alt="..."> </div>
                  <div class="card-body">
                    <h5 class="card-title"> Creating certainty in uncertain Market
                    </h5>
                    <p class="card-text"> We are completely focused on creating consistent returns in
                      futures markets through risk optimization.We are completely focused on creating consistent returns in futures markets through risk optimization.We deploy high
                      probability trades to create short term positions in index
                      and stock futures.
  </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="../../../assets/maths.avif" class="d-block w-100" alt="..."> </div>
                  <div class="card-body">
                    <h5 class="card-title">Mathematicians. Engineers.
                      Traders.</h5>
                    <p class="card-text">We are core believer of
                      Mathemagic.
                      We use magic of mathematics to handle risk, sustain equity and produce consistent growth in futures market.Armed with formulas and algorithms, we unlock hidden patterns, decipher market movements, and orchestrate trades with precision, ensuring that each decision is guided by the mystical harmony of numbers.</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<div class="customer-testimonial">
  <h2>ClIENT TESTIMONIAL</h2>
  <div class="quote">
    <div>
      <img
        src="../../../assets/quote.png"
        alt=""
        style="background: transparent"
      />
    </div>
    <div>
      <img
        src="../../../assets/quotation.png"
        alt=""
        style="background: transparent"
      />
    </div>
  </div>

  <div class="testimonila-box">
   
    <nz-carousel [nzDotPosition]="'bottom'" [nzAutoPlay]="true"  [nzAutoPlaySpeed]="5000">
      <!-- Slide 1 -->
      <div nz-carousel-content>
        <div class="carousel-item">
          <div class="test-img">
            <img src="../../../assets/shilpi.jpeg" alt="" />
          </div>
          <div class="test-content">
            <h3>Shilpi Singh</h3>
            <h4>shilpisingh1182&#64;gmail.com</h4>
            <p>
              I can't say enough good things about Cognisense. When I began my
              training with them, I had no prior technical background. However,
              with their exceptional guidance and support, I achieved a
              remarkable 40% gain by the end of the fourth quarter. The
              recommended books on technical analysis were incredibly helpful,
              and the strong Trader Psychology I developed under their
              mentorship has been invaluable. Shakti's personal assistance in
              crafting my trading strategy has proven to be my most useful asset
              to date. Cognisense truly transformed my trading experience, and I
              am immensely grateful for their expertise and dedication.
            </p>
          </div>
        </div>
      </div>

      <!-- Slide 2 (Add more slides if needed) -->
      <div nz-carousel-content>
        <div class="carousel-item">
          <div class="test-img">
            <img src="../../../assets/akash.jpeg" alt="" />
          </div>
          <div class="test-content">
            <h3>Akash Verma</h3>
            <h4>akashrajoria1&#64;gmail.com</h4>
            <p>
              I struggled for months and had nearly lost all hope in trading.
              Then I discovered Cognisense, which completely transformed my
              perception. I realized that trading isn't about luck or quick
              money; it's a structured approach similar to other businesses
              where risk is assessed and managed, investments are made
              thoughtfully, and benefits are reaped gradually. Cognisense
              revolutionized my understanding and approach to trading.
            
            </p>
          </div>
        </div>
      </div>
      <div nz-carousel-content>
        <div class="carousel-item">
          <div class="test-img">
            <img src="../../../assets/mridul.jpeg" alt="" width="200px" height="200px" style="object-fit: cover; object-position: top;"/>
          </div>
          <div class="test-content">
            <h3>Mridul</h3>
            <h4>mridul19821&#64;gmail.com</h4>
            <p>
              I had been struggling for over two years to generate positive
              returns in the market. Then, I discovered Cognisense, and their
              guidance program transformed my approach. With their help, I
              significantly improved my trading strategy and developed a strong
              trader's mindset. Their emphasis on mental analysis was a
              game-changer for me. Thanks to Cognisense, I have been able to
              consistently generate positive returns. 
            </p>
          </div>
        </div>
      </div>
    </nz-carousel>
  </div>
</div>
