<app-header></app-header>

<!-- <ul>

    <li *ngFor="let article of articles">
  
      <a [routerLink]="['/article', article.id]">{{ article.title }}</a>
      <p>{{article.subContent}}</p>
  
    </li>
  
  </ul> -->

<div class="article-container">
  <article>
    <div class="article-image-container">
      <img
        src="https://img.freepik.com/free-vector/newspaper-concept-illustration_114360-22666.jpg?w=826"
      />
    </div>
    <div class="content-container">
      <h3 class="article-title">Recent Articles</h3>
      <div class="article-content">
        <nz-collapse>
          <nz-collapse-panel
            *ngFor="let article of articles"
            [nzHeader]="article.title"
            [nzActive]="article.active"
            [nzDisabled]="false"
          >
            <p>{{ article.subContent }}</p>
            <a [routerLink]="['/article', article.id]" class="read-more-btn" (click)="scrollToTop() ">Read More</a>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
      <!-- <button class="read-more-btn">Read More</button> -->
    </div>
  </article>
</div>
