<div class="landing-box">
  <div class="landing-content" style="font-family: Raleway">
    <div class="heading-xxl mt-20 mathifying">
      COGNISENSE MATHIFYING MARKETS
    </div>
    <div class="heading-s pt-10" style="font-family: cursive">
      COGNISENSE IS A DATA-RESEARCH DRIVEN TRADING FIRM WHERE CURIOSITY MEETS
      INFINITY
      <div class="mt-40 logoSmall">
        <img
          src="../../../assets/cognisense Logo Symbol.png"
          alt=""
          height="60px"
        />
      </div>
    </div>
    <div class="landing-text mt-40 pt-20">
      <h3>
        We are a
        <p>Proprietary Trading House</p>
        motivated for becoming most consistently growing house in an industry.
        Because we define consistency as success in such an uncertain market
        environment.
      </h3>
    </div>
  </div>
</div>

<div class="bull-img-section">
  <nz-row class="bull-img">
    <nz-col nzSpan="24">
      <div class="bull-heading">
        <div
          class="bull-heading-content textshadow2"
          style="
            color: white;
            text-align: center;
            font-family: Domine;
            margin-bottom: 20px;
            letter-spacing: 4px;
          "
        >
          Achieving Stability in Turbulent Markets
        </div>
        <div
          class="bull-sub-heading"
          style="color: rgb(185, 185, 185); text-align: center"
        >
          In the volatile world of trading, we stand as a beacon of certainty.
          <br />
          As a leading proprietary trading house, our goal is simple yet
          profound: to thrive consistently amidst market chaos.
        </div>
        <div
          class="bull-sub-heading"
          style="color: rgb(185, 185, 185); text-align: center"
        >
          Driven by risk optimization, we specialize in generating consistent
          returns in futures markets.
        </div>
      </div>
    </nz-col>
  </nz-row>
</div>

<div class="home-carousel">
  <div class="carousel-box">
    <nz-carousel
      [nzDotPosition]="'bottom'"
      [nzAutoPlay]="true"
      [nzAutoPlaySpeed]="5000"
    >
      <div nz-carousel-content *ngFor="let slide of slides; let i = index">
        <div
          class="carousel-item"
          [style.background-image]="'url(' + slide.src + ')'"
        >
          <div class="headingSlider" [style.color]="slide.color">
            {{ slide.heading }}
            <p><a [href]="slide.link" target="_blank">Know more</a></p>
          </div>
        </div>
      </div>
    </nz-carousel>
  </div>
</div>

<div class="buy-sell section">
  <h4 style="color: white">
    We are core believer of
    <p class="jumping-letters">
      <span>M</span>
      <span>a</span>
      <span>t</span>
      <span>h</span>
      <span>e</span>
      <span>m</span>
      <span>a</span>
      <span>g</span>
      <span>i</span>
      <span>c</span>
    </p>

    We use magic of mathematics to handle risk, sustain equity and produce
    consistent growth in futures market
  </h4>
  <div class="buy-sell-img">
    <nz-row nzGutter="24">
      <nz-col nzXs="24" nzMd="24" nzXl="8">
        <img
          src="../../../assets/laptop.jpg"
          alt="First Image"
          width="100%"
          class="img1"
        />
      </nz-col>

      <nz-col nzXs="24" nzMd="24" nzXl="8">
        <div>
          <h3>Our Focus</h3>
          <ul>
            <li>
              Creating consistent returns in futures markets through risk
              optimization.
            </li>
            <li>
              Deploying high probability trades to create short-term positions
              in index and stock futures.
            </li>
            <li>
              Demonstrating the strength of our strategies through consistent
              fund performance.
            </li>
            <li>
              Adapting to market trends and leveraging emerging opportunities.
            </li>
            <li>Providing mentorship and guidance to aspiring traders.</li>
            <li>
              Continuously refining strategies to navigate turbulent market
              conditions.
            </li>
          </ul>
        </div>
      </nz-col>

      <nz-col nzXs="24" nzMd="24" nzXl="8">
        <img
          src="../../../assets/buysell.jpg"
          alt="Last Image"
          width="100%"
          class="img2"
        />
      </nz-col>
    </nz-row>
  </div>
</div>

<div class="customer-testimonial">
  <h2>ClIENT TESTIMONIAL</h2>
  <div class="quote">
    <div>
      <img
        src="../../../assets/quote.png"
        alt=""
        style="background: transparent"
      />
    </div>
    <div>
      <img
        src="../../../assets/quotation.png"
        alt=""
        style="background: transparent"
      />
    </div>
  </div>

  <div class="testimonila-box">
    <nz-carousel
      [nzDotPosition]="'bottom'"
      [nzAutoPlay]="true"
      [nzAutoPlaySpeed]="5000"
    >
      <!-- Slide 1 -->
      <div nz-carousel-content>
        <div class="carousel-item">
          <div class="test-img">
            <img src="../../../assets/shilpi.jpeg" alt="" />
          </div>
          <div class="test-content">
            <h3>Shilpi Singh</h3>
            <h4>shilpisingh1182&#64;gmail.com</h4>
            <p>
              I can't say enough good things about Cognisense. When I began my
              training with them, I had no prior technical background. However,
              with their exceptional guidance and support, I achieved a
              remarkable 40% gain by the end of the fourth quarter. The
              recommended books on technical analysis were incredibly helpful,
              and the strong Trader Psychology I developed under their
              mentorship has been invaluable. Shakti's personal assistance in
              crafting my trading strategy has proven to be my most useful asset
              to date. Cognisense truly transformed my trading experience, and I
              am immensely grateful for their expertise and dedication.
            </p>
          </div>
        </div>
      </div>

      <!-- Slide 2 (Add more slides if needed) -->
      <div nz-carousel-content>
        <div class="carousel-item">
          <div class="test-img">
            <img src="../../../assets/akash.jpeg" alt="" />
          </div>
          <div class="test-content">
            <h3>Akash Verma</h3>
            <h4>akashrajoria1&#64;gmail.com</h4>
            <p>
              I struggled for months and had nearly lost all hope in trading.
              Then I discovered Cognisense, which completely transformed my
              perception. I realized that trading isn't about luck or quick
              money; it's a structured approach similar to other businesses
              where risk is assessed and managed, investments are made
              thoughtfully, and benefits are reaped gradually. Cognisense
              revolutionized my understanding and approach to trading.
            </p>
          </div>
        </div>
      </div>
      <div nz-carousel-content>
        <div class="carousel-item">
          <div class="test-img">
            <img
              src="../../../assets/mridul.jpeg"
              alt=""
              width="200px"
              height="200px"
              style="object-fit: cover; object-position: top"
            />
          </div>
          <div class="test-content">
            <h3>Mridul</h3>
            <h4>mridul19821&#64;gmail.com</h4>
            <p>
              I had been struggling for over two years to generate positive
              returns in the market. Then, I discovered Cognisense, and their
              guidance program transformed my approach. With their help, I
              significantly improved my trading strategy and developed a strong
              trader's mindset. Their emphasis on mental analysis was a
              game-changer for me. Thanks to Cognisense, I have been able to
              consistently generate positive returns.
            </p>
          </div>
        </div>
      </div>
    </nz-carousel>
  </div>
</div>
