<div class="landing-box">
  <div class="landing-content" style="font-family: Raleway">
    <div class="heading-xxl mt-20 mathifying">COGNISENSE MATHIFYING MARKETS</div>
    <div class="heading-s pt-10" style="font-family: cursive">
      COGNISENSE IS A DATA-RESEARCH DRIVEN TRADING FIRM WHERE CURIOSITY MEETS
      INFINITY
      <div class="mt-40 logoSmall">
        <img
          src="../../../assets/cognisense Logo Symbol.png"
          alt=""
          height="60px"
        />
      </div>
    </div>
    <div class="landing-text mt-40 pt-20">
      <h3>
        We are a
        <p>Proprietary Trading House</p>
        motivated for becoming most consistently growing house in an industry.
        Because we define consistency as success in such an uncertain market
        environment.
      </h3>
    </div>
  </div>
</div>
<div class="bull-img-section">
  <nz-row class="bull-img">
    <nz-col nzSpan="24">
      <div class="bull-heading">
        <div
          class="bull-heading-content textshadow2"
          style="
            color: white;
            text-align: center;
            font-family: Domine;
            margin-bottom: 20px;
            letter-spacing: 4px;
          "
        >
        Achieving Stability in Turbulent Markets
        </div>
        <div
          class="bull-sub-heading"
          style="color: rgb(185, 185, 185); text-align: center"
        >
        In the volatile world of trading, we stand as a beacon of certainty. <br> As a leading proprietary trading house, our goal is simple yet profound: to thrive consistently amidst market chaos.
        </div>
        <div
        class="bull-sub-heading"
        style="color: rgb(185, 185, 185); text-align: center"
      >
      Driven by risk optimization, we specialize in generating consistent returns in futures markets.
      </div>
      </div>
    </nz-col>
  </nz-row>
</div>
<div class="buy-sell section" >
  <h4 style="color: white">
    We are core believer of
    <p class="jumping-letters">
      <span>M</span>
      <span>a</span>
      <span>t</span>
      <span>h</span>
      <span>e</span>
      <span>m</span>
      <span>a</span>
      <span>g</span>
      <span>i</span>
      <span>c</span>
    </p>

    We use magic of mathematics to handle risk, sustain equity and produce
    consistent growth in futures market
  </h4>
  <div class="buy-sell-img">
    <nz-row nzGutter="24">
      <nz-col nzXs="24" nzMd="24" nzXl="8">
        <img
          src="../../../assets/laptop.jpg"
          alt="First Image"
          width="100%"
          class="img1"
        />
      </nz-col>

      <nz-col nzXs="24" nzMd="24" nzXl="8">
        <div>
          <h3>Our Focus</h3>
          <ul>
            <li>
              Creating consistent returns in futures markets through risk
              optimization.
            </li>
            <li>
              Deploying high probability trades to create short-term positions
              in index and stock futures.
            </li>
            <li>
              Demonstrating the strength of our strategies through consistent
              fund performance.
            </li>
            <li>
              Adapting to market trends and leveraging emerging opportunities.
            </li>
            <li>Providing mentorship and guidance to aspiring traders.</li>
            <li>
              Continuously refining strategies to navigate turbulent market
              conditions.
            </li>
          </ul>
        </div>
      </nz-col>

      <nz-col nzXs="24" nzMd="24" nzXl="8">
        <img
          src="../../../assets/buysell.jpg"
          alt="Last Image"
          width="100%"
          class="img2"
        />
      </nz-col>
    </nz-row>
  </div>
</div>

<div class="home-carousel">
 <div class="carousel-box">
  <nz-carousel [nzDotPosition]="'bottom'" [nzAutoPlay]="true"  [nzAutoPlaySpeed]="5000" >
    <div nz-carousel-content *ngFor="let slide of slides; let i = index">
    
       <div class="carousel-item" [style.background-image]="'url(' + slide.src + ')'">
        <div class="headingSlider" [style.color]="slide.color" >{{ slide.heading }} <p> <a [href]="slide.link" target="_blank">Know more</a></p>
         
        </div>
      </div>
    </div>
  </nz-carousel>
</div>
</div>

