<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img
          src="../../../assets/cognisense Without Slogan.png"
          alt=""
          width="auto"
          height="50px"
          routerLink="/"
        />
        <p>
          Where math meets trading mastery. Founded by a seasoned IITian and
          successful trader, we specialize in index and stock futures trading,
          backed by a team of expert mathematicians and engineers.
        </p>
      </div>
      <div class="col-md-3">
        <h4>Know more</h4>
        <ul>
          <li>
            <mat-icon style="font-size: 17px">home</mat-icon
            ><a routerLink="/" routerLinkActive="active" class="nav-link">
              Home</a
            >
          </li>
          <li>
            <mat-icon style="font-size: 17px">info</mat-icon
            ><a routerLink="/about" routerLinkActive="active" class="nav-link"
              >About Us</a
            >
          </li>
          <li>
            <mat-icon style="font-size: 17px">article</mat-icon
            ><a
              routerLink="/articles"
              routerLinkActive="active"
              class="nav-link"
              >Articles</a
            >
          </li>
          <li>
            <mat-icon style="font-size: 17px">mail</mat-icon
            ><a routerLink="/contact" routerLinkActive="active" class="nav-link"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Contact Us</h4>
        <p>&#9993; Email: info.com</p>
        <p>&#9990; Phone: +123-456-7890</p>
      </div>
      <div class="col-md-3">
        <h4>Reach Us</h4>
        <p>Connect with us on LinkedIn:</p>
        <p style="display: flex; gap: 4px;">
          <a href="https://www.linkedin.com/in/shakti-singh-88831a106/"  target="_blank">
              <img src="../../../assets/mdi--linkedin.svg" alt="LinkedIn Icon">
          </a>
          <a href="https://www.linkedin.com/in/shakti-singh-88831a106/" target="_blank">LinkedIn</a>
      </p>
      
      </div>
    </div>
  </div>
</footer>
